<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="JuiceUI" namespace="Juice" tagPrefix="juice"/>
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="jQuery" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=jquery.ejemplo;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>